body {
    min-width: 800px;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

thead {
    background-color: mediumseagreen;
    color: white;
    border: 1px white solid;
}

thead > tr {
    height: 50px;
}

thead td {
    padding: 5px 20px 5px 20px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}

#currency-name {
    width: 200px;
}

tbody td {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}