body {
    min-width: 800px;
    max-width: 1600px;
    background-color: rgb(235, 232, 232);
    margin: 0 auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    text-align: center;
    background-color: white;
}

ul {
    padding: 10px;
}

ul > li {
    display: inline-block;
    list-style: none;
    margin-right: 36px;
    margin-left: 36px;
    font-size: 1.4em;
    font-weight: 600;
}

h1 {
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase;
}

h1 > span {
    font-size: 0.6em;;
    text-transform: none;
}
#banner {
    border: 4px solid green;
    background-color: lightgreen;
    color: red;
    font-weight: 600;
    text-transform: uppercase;
    width: 225px;
    height: 70px;
    text-align: center;
    padding-top: 17px;
    display: block;
    position: absolute;
    top: 12em;
    left: 1.2em;
}

#banner > button {
    font-size: 18px;
    margin-top: 10px;
    background-color: red;
    font-family: inherit;
    color: white;
}

.step1 > p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 35px;
}
#pizza-size {
    text-align: center;

}

.radio {
    margin-right: 40px;
    font-size: 1.3em;
}

.cook-table {
    height: 612px;
    display: inline-flex;
}
.base {
    width: 60%;
    padding-left: 6px;
    position: relative;
}

.base > img {
    width: 95%;
    position: absolute;
}

.ingridients {
    width: 40%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
}

h3 {
    text-align: center;
    text-transform: uppercase;
    width: 640px;
    margin: 35px 0 0 0;
    font-size: 1.4em;
}

.ingridients > div {
    width: 30%;
    text-align: center;
    font-weight: 600;
    font-size: 1.3em;
    margin-left: 15px;
}

.draggable {
  width: 100%;
}

.result {
    font-size: 1.3em;
    font-weight: 800;
    padding-left: 200px;
    margin-top: 10px;
}

.price-all, .sauces-all, .toppings-all {
    width: 30%;
    display: inline-flex;
    justify-content: left;
    flex-wrap: wrap;
    text-transform: uppercase;
    font-size: 1.4em;
}

#sauces, #toppings {
    text-transform: initial;
    font-size: 0.8em;
    line-height: 1.6em;
    color: green;
}

footer {
    background-color: white;
    text-align: center;
    font-weight: 600;
}

h2 {
    text-transform: uppercase;
    padding-top: 15px;
}

h2 > span {
    font-size: 0.8em;
    text-transform: lowercase;
}

footer > form {
    margin: 40px auto;
    width: 380px;
    text-align: right;
    font-size: 18px;
}

footer > form > label {
    margin-right: 15px;
}

footer > form > input {
    height: 30px;
    border: 1px solid green;
    margin-bottom: 5px;
}

#cancel {
    background-color: red;
    margin: 20px 30px 0 0;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 600;
    border: none;
}

#btn-submit {
    background-color: green;
    margin: 20px 20px 0 0;
    border-radius: 5px;
    font-family: inherit;
    font-weight: 600;
    border: none;
}

.x {
    font-weight: 600;
    width: 25px;
    font-size: 0.8em;
    height: 25px;
    border-radius: 50%;
    color: white;
    background-color: red;
    border: none;
}

.slider {
    width: 582px;
    height: 185px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.bttn {
    position: absolute;
    width: 20px;
    height: 45px;
    background-color:rgba(243, 240, 240, 0.705);
    color: grey;
    cursor: pointer;
    border: none;
}   

#prev {
    left: 0;
    top: 70px;
}   

#next {
    left: 562px;
    top: 70px;
}
.bttn:hover {
    background-color: rgba(216, 216, 216, 0.705);
}

.slide {
    width: 582px;
    height: 185px;
    display: none;
}
.slide.current {
    display: block;
}