#slider {
    width: 1200px;
    height: 600px;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.bttn {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}   

#prev {
    left: 0;
    top: 275px;
}   

#next {
    left: 1150px;
    top: 275px;
}
    
img {
    width: 1050px;
    height: 600px;
    margin-left: 75px;
    display: block;
}

#slider-dots {
    width: 1200px;
    position: relative;
    margin: 10px auto;
    padding: 0;
    text-align: center;
}
.dot {
    margin-top: 10px;
    cursor: pointer;
    height: 12px;
    width: 12px;
    margin: 0 2px;
    background-color: rgb(129, 204, 129);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}
.active, .dot:hover {
    background-color: green;
}