#loader {
    display: none;
}

table {
    display: none;
    border-collapse: collapse;
}

thead td {
    padding: 5px 20px 5px 20px;
    width: 100px;
    text-align: center;
    font-weight: bold;
}
tbody td {
    width: 100px;
}

td {
    border: 1px solid black;
}